{% extends "blank.html" %}

{% block header %}
<style type="text/css">
    .infobox {
        width: 300px !important;
        height: 150px !important;
        margin: 5px 5px 5px 5px !important;
        padding: 28px 3px 6px 9px !important;
    }
    .find {
        position: absolute;
        right: 20px;
        top: 11px;
        border-radius: 0;
        text-shadow: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 15px;
        height: 16px;
        padding: 0 1px;
    }
    .add{
        position: absolute;
        right: 20px;
        top: 30px;
        border-radius: 0;
        text-shadow: none;
        font-size: 14px;
        font-weight: bold;
        line-height: 15px;
        height: 16px;
        padding: 0 1px;
    }

</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green  ">
            <div class="infobox-icon">
                <i class="icon-desktop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">显示器</span>
                <div class="infobox-content"></div>
            </div>

            <div class="find">
                <i class="icon-search"></i>
                Find
            </div>

            <div class="add">
                <i class="icon-plus"></i>
                Add
            </div>
        </div>

        <div class="infobox infobox-blue  ">
            <div class="infobox-icon">
                <i class="icon-laptop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">笔记本</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-green  ">
            <div class="infobox-icon">
                <i class="icon-desktop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">显示器</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-blue  ">
            <div class="infobox-icon">
                <i class="icon-laptop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">笔记本</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-green  ">
            <div class="infobox-icon">
                <i class="icon-desktop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">显示器</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-blue  ">
            <div class="infobox-icon">
                <i class="icon-laptop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">笔记本</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-green  ">
            <div class="infobox-icon">
                <i class="icon-desktop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">显示器</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-blue  ">
            <div class="infobox-icon">
                <i class="icon-laptop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">笔记本</span>
                <div class="infobox-content"></div>
            </div>
        </div>

        <div class="infobox infobox-blue  ">
            <div class="infobox-icon">
                <i class="icon-laptop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">笔记本</span>
                <div class="infobox-content"></div>
            </div>
        </div>

    </div>
</div>

{% endblock%}
